[Service]
ExecStartPre=/bin/sleep 30  
ExecStart=sudo /usr/bin/node server.js
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=Kettler
User=pi
Group=pi
WorkingDirectory=/home/pi/KettlerUSB

[Install]
WantedBy=multi-user.target
